// Border Radiud

.borderRadius-8 {
    border-radius: 8px 8px;
}

.borderRadius-25 {
    border-radius: 25px 25px;
}

.borderRadius-100 {
    border-radius: 100% 100%;
}

// Box Shadow

.box-shadow {
    box-shadow: 0px 0px 20px 4px rgba($color: $primary-color, $alpha: 0.08);
}

.box-shadow-dark-3D {
    box-shadow: 0px 15px 38px rgba($color: $primary-color, $alpha: 0.10)
}

.box-shadow-dark-inner {
    box-shadow: inset 0px 14px 9px rgba($color: $primary-color, $alpha: 0.08);
}

.box-shadow-dark-inner-round {
    box-shadow: inset 0px 0px 24px rgba($color: $primary-color, $alpha: 0.08);
}