// Font Size
$indexBannerHeader: 60px;
$indexBannerDiscription: 18px;
$Primary-font-size: 18px;
$Primary-size: 16px;
$primary-size-12: 12px;
// Heading H2 Font Size
$indexHeading: 42px;
$indexHeadingh3: 32px;
$indexTextDiscription: 16px;
// Introduction Font Size
$indexIntroMainFont: 22px;
// Globle External Font Size
$countNumber: 48px;
// Features Contact Number And Email Address
$indexFeatContact: 18px;
// Feedback 
$testimorialText: 22px;
// Footer Font Size
$indexFooterList: 12px;
$indexFooterIcons: 22px;
$indexFooterContent: 16px;
$indexFooterCopyright: 12px;